services:
  backend:
    build: ./backend
    container_name: sensor-backend
    ports:
      - "3000:3000"
    restart: always
    command: ["node", "index.js"]

  frontend:
    image: nginx:alpine
    ports:
      - "3000:80"
    volumes:
      - ./frontend:/usr/share/nginx/html:ro
